{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
<h3>Car Speed Risk Analysis Prediction <br> Using <br> Machine Learning with Django</h3>

<hr>

<form method="post">
	{% csrf_token %}
	<label>Enter Speed:</label>
	<input type="text" name="speed" required><br>
	<input type="submit" value="Predict">
</form>
{% if result %}
<p>Your Predicted Result: <b>{{result}}%</b></p>
{% endif %}

</body>
</html>